body{
    /*background-color:rgba(187, 173, 173, 0.829);*/
    overflow-x: hidden; /* Kikapcsoljuk az alsó slidert */
    margin: 0; /* Elszedjük az alap margót, amit már a bootstrap már megcsinál helyettünk de nem baj, azért itt van */ 
	/*background-image: url("../images/56488445_403.jpg");*/
    -ms-overflow-style: none; /* Eltávolítjuk a oldalsó slidert */
    scrollbar-width: none; /* Ugyan az mint az előző */
}

/* Beállítjuk a slider stílusát */
body::-webkit-scrollbar { 
    display: none;
}

section {
    width: 100vw; /* Az ablak szélességével egyenlő szélességűvé teszi az elem szélességét */
    height: 100vh; /* Az ablak magasságával egyenlő magasságúvá teszi az elem magasságát */
}

/* Ezzel hadjál békén, én ezt nem fogom kommentálni */
section.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Nem fogom ezt se kommentálni */
section.title h1 {
    width: 750px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 256px;
}

/* Ez kellett nekem lol */
.vh-80 {
    height: 80vh!important;
}

/* Oldal sáv */
div.side-bar {
    position: fixed;
    height: 100vh;
    top: 0; 
    transition: all 0.4s;
    opacity: 0;
    width: 16vh;
    z-index: 9999;
    background-color: #212529;
}

div.side-bar:hover {
    opacity: 1;
}